.page .num:hover{background-color: #363E50;
color: white;}

.page_active .num{background-color: #363E50;
    color: white;}
    .page_active .num:hover{background-color: #363E50;
        color: white;}
.angle{font-size: 120%;}

